@use "helpers" as *;

:root {
  --container-padding-x: 160px;
  --container-width: 1600px;

  @include laptop {
    --container-width: 1280px;
    --container-padding-x: 32px;
  }

  @include tablet {
    --container-width: 768px;
    --container-padding-x: 24px;
  }

  @include mobile {
    --container-width: 463px;
    --container-padding-x: 16px;
  }

  @include mobile-s {
    --container-width: 357px;
    --container-padding-x: 16px;
  }

  --font-family: "Be Vietnam Pro";
  --font-family-second: "Inter";

  --border: 1px solid var(--color-light-95);
  --border-radius-small: 6px;
  --border-radius: 8px;
  --border-radius-medium: #{fluid(12, 10)};
  --border-r-s-medium: #{fluid(10, 8)};
  --border-raduis-very-small: 4px;
  --transition-duration: 0.2s;

  --color-light: #fff;
  --color-black: #000;

  --color-orange-50: #ff9500;
  --color-orange-70: #ffbf65;
  --color-orange-75: #ffca80;
  --color-orange-80: #ffd499;
  --color-orange-90: #ffe4cc;
  --color-orange-95: #fff4e5;
  --color-orange-97: #fff9f0;
  --color-orange-99: #fffdfa;

  --color-light-90: #e4e4e7;
  --color-light-95: #f1f1f3;
  --color-light-97: #f7f7f8;
  --color-light-99: #fcfcfd;

  --color-gray-10: #191919;
  --color-gray-15: #262626;
  --color-gray-20: #333333;
  --color-gray-30: #4c4c4d;
  --color-gray-35: #59595a;
  --color-gray-40: #656567;
  --color-gray-60: #98989a;
  --color-gray-70: #b3b3b3;
}
