@use "normalize.scss";
@use "fonts";
@use "variables";
@use "globals";
@use "utils";

@use "./blocks/scrollbar";
@use "./blocks/header";
@use "./blocks/footer";
@use "./blocks/home";
@use "./blocks/logo";
@use "./blocks/section";
@use "./blocks/hero";
@use "./blocks/grid";
@use "./blocks/icon";
@use "./blocks/badge";
@use "./blocks/burger-button";
@use "./blocks/button";
@use "./blocks/feature-content";
@use "./blocks/modal";
@use "./blocks/partners";
@use "./blocks/intro";
@use "./blocks/benefits";
@use "./blocks/course";
@use "./blocks/testimonial-card";
@use "./blocks/tabs.scss";
@use "./blocks/features.scss";
@use "./blocks/pricing-card.scss";
@use "./blocks/questions";
@use "./blocks/accordion-group";
@use "./blocks/accordion";
@use "./blocks/marker";
@use "./blocks/soc1als";
@use "./blocks/soc1als-icon";
@use "./blocks/course-card";
@use "./blocks/curriculum";
@use "./blocks/course-curriculum";
@use "./blocks/number";
@use "./blocks/lesson";
@use "./blocks/about-us";
@use "./blocks/about-card";
@use "./blocks/join-us";
@use "./blocks/auth";
@use "./blocks/auth-aside.scss";
@use "./blocks/checkbox";
@use "./blocks/auth-section.scss";
@use "./blocks/input-inner";
@use "./blocks/input";
@use "./blocks/password-eye";
@use "./blocks/showcase-card.scss";
@use "./blocks/auth-slider";
@use "./blocks/contacts-form";
@use "./blocks/contact-us";
@use "./blocks/contacts-info";
@use "./blocks/contact";
