@use "../helpers" as *;

.button {
    border-radius: var(--border-radius);
    background-color: var(--color-orange-50);
    color: var(--color-light);
    font-size: 18px;
    border-color: transparent;

    &:not(.header__link) {
        padding: 18px 24px;

        @include laptop {
            padding: 14px 20px;
        }

        @include mobile-s {
            padding: 10px 16px;
        }
    }

    @include laptop {
        font-size: 14px;
    }

    @include hover {
        color: var(--color-light);
        background-color: var(--color-orange-75);
    }

    &--light {
        color: var(--color-gray-15);
        background-color: var(--color-light);
        border: var(--border);

        @include hover {
            background-color: var(--color-light-95);
            color: var(--color-gray-50);
        }
    }

    &--play,
    &--pause {
        position: relative;
        border: 6px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 68px;
        padding: 14px;
        width: 72px;
        height: 72px;

        @include hover {
            background: rgba(255, 255, 255, 0.4);
            border-color: rgba(255, 255, 255, 0.5);
        }
    }

    &--play::after {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        content: '';
        width: 44px;
        height: 44px;
        display: block;
        background: url('public/icons/play.svg') center/contain no-repeat;
    }

    &--view {
        background-color: var(--color-light);
        border: var(--border);
        font-weight: 500;
        color: var(--color-gray-15);

        @include hover {
            background-color: var(--color-light-95);
            color: var(--color-gray-50);
        }
    }
}