@use "../helpers" as *;

.accordion {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius-medium);

    &__summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 50px;

        &::marker {
            content: "";
            display: none;
        }

        &__description {
            border-top: var(--border);
            display: flex;
        }

        &__nav {}
    }
}