@use "../helpers" as *;

.auth-section {
  display: flex;
  flex-direction: row;
  column-gap: 100px;

  @include laptop {
    column-gap: 80px;
  }

  @include tablet {
    flex-direction: column-reverse;
    row-gap: 40px;
    align-items: center;
  }
}
