@use "../helpers" as *;

.auth-aside {
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 40);

  &__header {
    white-space: wrap;
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    @include laptop {
      row-gap: 4px;
    }
  }

  &__title {
    @include fluid-text(38, 28);
    color: var(--color-gray-15);
    font-weight: 500;
  }
}
