@use '../helpers' as *;

.benefits {
    display: flex;
    // max-width: 519px;
    background-color: var(--color-light);
    border-radius: var(--border-radius-medium);
    white-space: wrap;
    height: 100%;
    padding: 50px;

    @include laptop {
        padding: 50px 40px;
        min-height: 370px;
    }

    @include mobile {
        padding: 30px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: end;
        justify-content: space-between;
        height: 100%;

        &-inner {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 419px;
            padding-block: 50px;

            @include laptop {
                padding-block: 40px;
            }

            @include mobile {
                padding-block: 30px;
            }
        }
    }

    &__number {
        @include fluid-text(80, 50);
        font-weight: 700;
        color: var(--color-gray-15);
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-gray-20);

        @include laptop {
            font-size: 20px;
        }
    }

    &__description {
        @include fluid-text(18, 14);

    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}