@use "../helpers/" as *;

.contacts-info {
  display: grid;
  flex-direction: column;
  justify-content: center;
  row-gap: fluid(50, 20);
  align-items: center;
  // width: 100%;
  padding: fluid(80, 30);
}