@use "../helpers/" as *;

.contacts-form {
  display: flex;
  flex-direction: column;
  row-gap: fluid(50, 30);
  width: 100%;

  @include tablet-above {
    border-right: var(--border);

  }

  &__inner {
    // display: flex;
    padding: fluid(80, 30);

    &--button {
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    margin-bottom: fluid(80, 30);

    @include mobile-above {
      align-self: center;
    }
  }
}