@use "../helpers" as *;

.footer {
  margin-top: fluid(140, 50);
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);

  &__inner {
    width: 100%;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-block: 50px;
    border-bottom: var(--border);

    @include tablet {
      flex-direction: column;
      row-gap: 30px;
    }

    @include mobile {
      padding-inline: 20px;
      row-gap: 24px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 40px;

    @include mobile {
      row-gap: 30px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 12);

    &-link {
      color: var(--color-gray-15);
      display: flex;
      column-gap: 6px;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    @include tablet {
      flex-wrap: wrap;
      gap: 30px;
    }

    @include mobile {
      gap: 24px;
    }
  }
  &__home {
    display: flex;
    flex-direction: column;
  }
  &__about {
    display: flex;
    flex-direction: column;
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    max-width: fluid(249, 128);
    width: 100%;

    @include laptop {
      row-gap: 10px;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      row-gap: fluid(8, 4);
    }
  }

  &__link {
    &--title {
      font-size: 20px;
      font-weight: 600;

      @include mobile {
        font-size: 18px;
      }
    }
  }

  &__copyright {
    display: flex;
    padding-block: 30px;
    justify-content: center;
    align-items: center;
  }
}
