@use "../helpers" as *;

.grid {
    display: grid;
    align-items: center;
    justify-content: center;

    &--2-cols {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        @include laptop {
            gap: 20px;
        }

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &--3-cols {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: 1fr;
        }

    }
}