@use "../helpers" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
  // overflow: hidden;
  // margin-block: 100px;

  @include laptop {
    // margin-block: 80px;
  }

  @include mobile {
    // margin-block: 64px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(20, 6);

    &-description {
      white-space: wrap;
      text-align: center;
    }

    &-inner {
      position: relative;
      background-color: var(--color-light);
      border-radius: var(--border-radius);
      display: flex;
      padding: fluid(19, 14) fluid(20, 14);
      align-items: center;
      column-gap: 10px;
      border: var(--border);

      &::after {
        position: absolute;
        top: -9px;
        left: -7px;
        translate: -50% -50%;
        content: "";
        width: 39px;
        height: 43px;
        display: block;
        background: url("../../../../public/icons/hero-deco.svg") center/contain
          no-repeat;

        @include mobile {
          top: 7px;
          left: 5px;
        }
      }
    }
  }

  &__title {
    &-alt {
      color: var(--color-orange-50);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 60px;

    padding-inline: 30px;

    @include laptop {
      row-gap: 50px;
    }

    &-links {
      display: flex;
      column-gap: 12px;
    }

    &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__subtitle {
    white-space: wrap;
    text-align: center;
    @include fluid-text(36, 24);
    color: var(--color-black);
    font-weight: 500;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
