@use "../helpers" as *;

.icon {
  display: flex;
  --iconSize: 24px;

  @include laptop {
    --iconSize: 20px;
  }

  &--password-eye {
    &::after {
      content: "";
      width: var(--iconSize);
      height: var(--iconSize);
      display: block;
      background: url("public/icons/show-password-eye.svg") center/contain
        no-repeat;
    }
  }

  &--arrow-slide,
  &--google {
    --iconSize: 30px;

    &::after {
      content: "";
      width: var(--iconSize);
      height: var(--iconSize);
      display: block;
    }
  }

  &--arrow-slide {
    &::after {
      background: url("public/icons/icon-arrow-slide.svg") center/contain
        no-repeat;
    }

    &-right {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &--google {
    &::after {
      background: url("public/icons/google-icon.svg") center/contain no-repeat;
    }
  }

  &--arrow,
  &--arrow-right-top {
    &::after {
      content: "";
      width: var(--iconSize);
      height: var(--iconSize);
      display: block;
      margin-left: 23px;

      @include laptop {
        margin-left: 14px;
      }
    }
  }

  &--arrow {
    &::after {
      background: url("public/icons/right-arrow.svg") center/contain no-repeat;
    }
  }
  &--arrow-right-top {
    &::after {
      margin: 0;
      background: url("public/icons/arrow-top-right.svg") center/contain
        no-repeat;

      @include hover {
        color: var(--color-orange-50);
      }
    }
  }

  &--email,
  &--tel,
  &--map,
  &--time {
    &::after {
      content: "";
      width: var(--iconSize);
      height: var(--iconSize);
      display: block;
    }
  }

  &--email {
    &::after {
      background: url("public/icons/email.svg") center/contain no-repeat;
    }
  }
  &--time {
    &::after {
      background: url("public/icons/clock.svg") center/contain no-repeat;
    }
  }
  &--tel {
    &::after {
      background: url("public/icons/phone.svg") center/contain no-repeat;
    }
  }
  &--map {
    &::after {
      background: url("public/icons/map.svg") center/contain no-repeat;
    }
  }

  &--blaze {
    width: 48px;
    height: 48px;
    background-color: var(--color-orange-95);
    position: relative;
    border-radius: var(--border-radius);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: var(--iconSize);
      height: var(--iconSize);
      display: block;
      background: url("../../../../public/icons/blaze.svg") center/contain
        no-repeat;
    }
  }
}
