@use "../helpers" as *;

.join-us {
  --size: #{fluid(445, 235)};
  position: relative;
  z-index: 0;

  background-color: var(--color-light);
  border-radius: var(--border-radius-medium);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: 50%;
    right: 12%;
    transform: translate(-12%, -50%);
    background: url("../../../../public/images/abstract-image.svg")
      center/contain no-repeat;
    z-index: 0;

    @include mobile {
      bottom: 0%;
      right: 0%;

      transform: translate(5%, 0%);
    }
  }
  &__content {
    z-index: 1;
    padding: fluid(80, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: start;

      row-gap: 40px;
    }
  }

  &__inner {
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: fluid(20, 10);
  }

  &__title {
    &-accent {
      color: var(--color-orange-50);
    }
  }
  &__link {
    z-index: 1;
  }
}
