@use "../helpers" as *;

.logo {
  position: relative;
  display: flex;
  width: 54px;
  height: 54px;
  background-color: var(--color-orange-50);
  border-radius: var(--border-radius);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 32px;
    height: 32px;
    background: url("../../../../public/icons/logo-shape.svg") center/contain
      no-repeat;
  }
}
