@use "../helpers" as *;

.password-eye {
  display: inline-block;
  position: relative;
  cursor: pointer;

  &__checkbox {
    display: none;
    padding: 0;
    width: var(--iconSize);
    height: var(--iconSize);
  }

  &__icon {
    --iconSize: 24px;

    @include laptop {
      --iconSize: 20px;
    }

    width: var(--iconSize);
    height: var(--iconSize);
    display: block;
    background-image: url("public/icons/show-password-eye.svg"); // стандартне «око закрите»
    background-size: cover;
    transition-duration: var(--transition-duration);
  }

  &__checkbox:checked + &__icon {
    background-image: url("public/icons/password-eye-slash.svg"); // коли чекбокс активний — «око відкрите»
  }
}
