@use "../helpers" as *;

.questions {
  display: flex;
  margin-top: fluid(50, 0);
  margin-top: fluid(150, 50);
  //   justify-content: center;
  white-space: wrap;

  &__inner {
    padding: fluid(100, 24);
    column-gap: fluid(120, 40);
    display: flex;
    max-width: fluid(1595, 357);
    background-color: var(--color-light);
    border-radius: var(--border-radius);

    @include tablet {
      flex-direction: column;
      row-gap: 60px;
    }

    @include mobile {
      row-gap: 40px;
    }
  }

  &__header {
    max-width: 408px;
    display: flex;
    flex-direction: column;
    row-gap: fluid(50, 20);

    &__inner {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;

    @include mobile {
      row-gap: 20px;
    }
  }
  &__link {
    align-self: flex-start;
  }
}
