@use "../helpers/" as *;

.section {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-bottom: 100px;
  white-space: wrap;

  @include laptop {
    row-gap: 60px;
  }

  @include mobile {
    row-gap: 40px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    @include laptop {
      row-gap: 4px;
    }

    &-content {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      column-gap: 300px;

      @include laptop {
        column-gap: 200px;
      }

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;

        &:has(.section__tabs) {
          align-items: center;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
  }

  &__description {
    p {
      max-width: fluid(1177, 320);
      @include fluid-text(18, 14);
      white-space: normal;
    }
  }

  &__body {
    &:not(.pricing-card) {
      display: flex;
      justify-content: center;
    }
  }

  &__link {
    white-space: nowrap;
  }
}
