@use "../helpers/" as *;

.section {
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 40);
  white-space: wrap;

  // &:has(.section__link),
  // &:has(.section__tabs) {
  //   flex-direction: column;
  // }

  &__header {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    row-gap: 6px;

    &:has(.section__link),
    &:has(.section__tabs) {
      flex-direction: column;
    }

    &:not(:has(.section__link)):not(:has(.section__tabs)) {
      align-items: center;
    }

    @include laptop {
      gap: 80px;
    }

    @include mobile {
      flex-direction: column;

      &:has(:not(.section__link)),
      &:has(:not(.section__tabs)) {
        row-gap: 16px;
      }
    }

    &-content {
      display: flex;

      justify-content: space-between;
      align-items: center;
      column-gap: 300px;

      @include laptop {
        column-gap: 200px;
      }

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;

        &:has(.section__tabs) {
          align-items: center;
        }
      }
    }
  }

  &__title {
    @include fluid-text(48, 28);
    font-weight: 600;
    width: 100%;
  }

  &__description {
    max-width: 600px;
    p {
      // max-width: fluid(1177, 320);
      @include fluid-text(18, 14);
      white-space: normal;
    }
  }

  &__title,
  &__description {
    max-width: fluid(748, 358);
  }

  &__body {
    &--pricing {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
    }

    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--courses-opened {
      display: flex;
      flex-direction: column;
      row-gap: fluid(100, 50);
    }

    &--about {
      display: flex;
      flex-direction: column;
      row-gap: fluid(177, 50);
    }
  }

  &__link {
    white-space: nowrap;
  }

  &__courses {
    display: flex;
    flex-direction: column;
    row-gap: fluid(50, 20);
  }
}
