@use "../helpers" as *;

.soc1als-icon {
  --icon: #{fluid(52, 44)};
  width: var(--icon);
  height: var(--icon);
  display: flex;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-light-97);
  position: relative;

  &::after {
    content: "";
    --icon: #{fluid(24, 20)};
    width: var(--icon);
    height: var(--icon);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }

  &--facebook::after {
    background-image: url("public/icons/facebook.svg");
  }
  &--twitter::after {
    background-image: url("public/icons/twitter.svg");
  }
  &--linkedin::after {
    background-image: url("public/icons/in.svg");
  }
}
