@use "../helpers/" as *;

.soc1als {
  display: flex;
  flex-direction: column;
  row-gap: fluid(14, 10);
  width: fluid(249, 128);

  &__title {
    font-size: 20px;
    font-weight: 600;

    @include laptop {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    column-gap: 14px;
  }

  &__item {
    @include hover {
      opacity: 0.7;
    }
  }
}
